.badge {
  @apply bg-blue-900 py-1 px-3 rounded-sm text-sm inline-block;

  &:hover,
  &:focus {
    + .badge-content {
      @apply opacity-100 visible transform-none;

      transition:
        transform 0.4s ease-out,
        opacity 0.4s 0.1s ease-out;
    }
  }
}

.badge-content {
  @apply flex p-3 text-left z-2 bg-gray-800 gap-2 left-0 opacity-0 invisible translate-y-1;

  /* mobile only styles */
  @apply w-full fixed bottom-0;

  transition:
    transform 0.2s ease-out,
    opacity 0.3s ease-out,
    visibility 0s 0.3s;

  @media (width >= 768px) {
    @apply w-72 absolute bottom-auto;

    top: calc(100% + 0.5rem);

    &.right {
      @apply left-auto right-0;
    }
  }
}
