<section class="section-gray">
    <background-triangle :variant="1"></background-triangle>
    <div class="md:w-main md:mx-auto">
        <div class="overflow-hidden mb-12 px-6 md:px-0 md:max-w-xl">
            <h2 class="h2" data-aos="fade-up">Une offre pour répondre à chacun de tes besoins</h2>
        </div>

      <div class="md:grid md:grid-cols-2 md:gap-8 lg:gap-12">
          <div class="p-6 flex flex-col gap-8 offer-description lg:p-[3.75rem]" data-aos="fade-up" data-aos-delay="{{ animationDelay }}">
    <h3 class="h3"> Développement sur mesure</h3>
    <div class="text-black flex-col-start-between gap-8 grow">
        <div class="flex-col-start-between gap-6">
              <p>Tu as <strong>une idée de projet web sur mesure</strong> à créer et
            ne possèdes pas d’équipe de développeurs en interne ?</p> <p>L’agence
            digitale Kinoba est composée de passionnés de technologies du web et
            d’innovation. Nous devenons ton <strong>partenaire technique et
            t’accompagnons, sur le long terme, durant toutes les phases de la
            réalisation de ton produit.</strong></p> <p>Que ce soit une marketplace,
            un e-commerce, un site web, une application web ou une plateforme web sur
            mesure, nos développeurs web, chefs de projet et designers UX & UI seront
            présents <strong>pour que tu puisses te concentrer sur
            l’essentiel : faire grandir ton entreprise.</strong></p>
        </div>

        <a href="/" class="btn gray-900 mt-6 md:mt-0">
            Le développement sur mesure en détail
            <icon name="arrow"></icon>
        </a>
    </div>
</div>
      </div>
    </div>
</section>
